@import "tailwindcss";
@theme{
    --font-outfit: var(--font-outfit);
    --font-inter: var(--font-inter);
    --color-primary: #FF4F7B;
    --color-secondary: #FFFFFF;
    --color-text:#FFFFFF;
    --color-card:rgba(255,255,255,0.12);
    --color-border:rgba(255,255,255,0.18)
}